@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

html {
    width: 100%;
    height: 100%;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none !important;
}

ul,
li {
    list-style-type: none;
}

.views {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: #ffc8dd;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: flex-end;
    align-items: center;
    margin-left: -8px;
}

.last-item {
    margin-right: 2rem;
}

.dropdown-content {
    display: none;
}

.dropdown {
    float: left;
    cursor: pointer;
}

.dropdown a {
    float: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Login */

.login_body {
    background-image: url("/images/summer-girl-ice-cream.jpg");
    /* animation: changeBg 2s infinite; */
}


/* #mydiv{ width:143px; height:100px; } */
/* 
@keyframes changeBg {
    
    0% {
        background-image: url("/images/summer-girl-ice-cream.jpg");
    }
    
    50% {
        background-image: url("/images/summer-girl.jpg");
    }
    
    100% {
        background-image: url("/images/summer-girl-ice-cream.jpg");
    }
} */

.forgotPassword_page {
    background-image: url("/images/summer-beach-girl.jpg");
}

.register_page {
    background-image: url("/images/anime-girl-summer.jpg");
}

.resetedPassword_page {
    background-image: url("/images/maid-girl.jpg");
}

.login_card {
    background-color: rgb(233, 159, 225);
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin-top: 8rem;
    margin-left: 10rem;
}

.title {
    font-family: 'Aclonica';
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.input-login,
.input-search {
    width: 25rem;
    height: 2rem;
    outline: none;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.forget-password {
    padding-bottom: 2rem;
}

.login-button {
    width: 10rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 10px;
}

/* Lists */

.empty_list {
    background-image: url("/images/girl-beach-sky-clouds.jpeg");
}

.watching_list {
    background-image: url("/images/matsuri-girl.png");
}

.completed_list {
    background-image: url("/images/maid-library.jpg");
}

.search-anime {
    justify-content: end;
}

.input-search {
    width: 15rem;
}

.list-container {
    position: fixed;
    top: 15%;
    left: 5%;
    width: 50rem;
    height: 30rem;
    background-color: red;
}

.new-section:hover {
    cursor: pointer;
}

/* Profile */

.changeStyle_page {
    background-image: url("/images/matsuri-hanabi.jpg");
}

.editProfile_page {
    background-image: url("/images/butterfly-girl.jpg");
}

/* Others */

.not_found {
    background-image: url("/images/dark-girl.jpg");
}

.no-page {
    font-family: 'Aclonica';
    text-align: center;
    color: white;
    font-size: 4rem;
}

.thankful {
    background-image: url("/images/thankful.jpg");
}

.thanks {
    position: fixed;
    top: 40%;
    left: 53%;
    color: #BF228A;
    font-family: 'Aclonica';
    font-weight: bold;
    font-size: 4rem;
}